.modal-open {
  overflow: hidden;
}

.city-select {
  border-radius: 5px;
  top: 10vh;
  left: 50%;
  width: 1000px;
  min-height: 80vh;
  background-color: #fff;
  transform: translateX(-50%);
  padding: 15px 30px;
}

.city-select_modal {
  position: fixed;
}

.city-select__header {
  margin-bottom: 15px;
  font-size: 24px;
}

.city-select__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid #00be8b;
  transition: all 0.3s;
}

.city-select__close-btn::before, .city-select__close-btn::after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: 14px;
  width: 1px;
  height: 29px;
  background-color: #00be8b;
  transform: rotateZ(45deg);
  transition: all 0.3s;
}

.city-select__close-btn::after {
  transform: rotateZ(-45deg);
}

.city-select__close-btn:hover {
  cursor: pointer;
  border: 1px solid #00f1b0;
}

.city-select__close-btn:hover::before, .city-select__close-btn:hover::after {
  top: 0px;
  left: 13px;
  width: 2px;
  background-color: #00f1b0;
  transform: rotateZ(135deg);
}

.city-select__close-btn:hover::after {
  transform: rotateZ(45deg);
}

.city-select__search {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  border-radius: 5px;
  border: 1px solid #00be8b;
  box-shadow: 1px 1px 2px #00be8b;
  font-size: 18px;
}

.city-select__popular-country {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: flex-start;
  padding: 0 40px;
  margin: 20px 0;
}

.popular-country__name {
  padding: 6px 18px;
  border: 1px solid #00be8b;
  border-radius: 18px;
  margin-right: 25px;
}

.popular-country__name:hover {
  box-shadow: 1px 1px 2px #00be8b;
  cursor: pointer;
}

.popular-country__name_active {
  box-shadow: 1px 1px 2px #00be8b;
}

.city-select__container {
  display: flex;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.city-select__country {
  overflow: auto;
  width: 25%;
  height: 100%;
  flex-flow: wrap column;
}

.city-select__country__name {
  padding: 7px 3px 7px 10px;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  padding-left: 10px;
  margin-bottom: 4px;
  position: relative;
  border-left: 3px solid transparent;
}

.city-select__country__name_active {
  cursor: pointer;
  border-left: 3px solid #00be8b;
}

.city-select__country__name:hover {
  cursor: pointer;
  color: #00be8b;
}

.city-select__city {
  padding-left: 15px;
  position: relative;
  width: 75%;
  overflow: auto;
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
}

.city-select__city_row {
  flex-flow: wrap row;
}

.city-select__city__name {
  width: 33%;
  padding: 7px 3px 7px 10px;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  padding-left: 10px;
  margin-bottom: 4px;
  position: relative;
  border-left: 3px solid transparent;
}

.city-select__city__name_active {
  cursor: pointer;
  border-left: 3px solid #00be8b;
}

.city-select__city__name:hover {
  cursor: pointer;
  color: #00be8b;
}
