/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* MAIN */
body {
	font-family: "Arial", sans-serif;
	background-color: #e8effa;
	overflow-x: hidden;
	font-size: 15px;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.bold {
	font-weight: 700;
	margin-bottom: 3px;
}
.red {
	color: #f00;
	margin-left: 30px;
}
.grey {
	color: #8b95a1;
}
a, a:hover, a:focus, a:visited {
	color: #000;
	text-decoration: none;
	font-size: 15px;
}
#promocode h3 {
	font-family: 'OpenSansBold',sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #726278;
	font-size: 20px;
	text-align: center;
	margin-bottom: 15px;
}
#promocode h4, #lk h4 {
	font-weight: bold;
	color: #000;
	line-height: 1.4;
	font-size: 18px;
}
#promocode p {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	line-height: 1.3;
	text-align: justify;
}
.center	{
	margin: 0 auto;
	text-align: center;
}
#promocode, #lk {
	display: block;
	padding: 50px 0px;
}
.sidebar {
	position: relative;
	display: block;
	background-color: #fff;
	border: 1px solid #d4d4d4;
	width: 100%;
	height: 200px;	
	margin: 0px auto;
	padding: 30px 10px 30px 30px;
}
.dots {
	position: absolute;
	right: 10px;
	top: 10px;
}
.settings {
	margin-top: 30px;
	position: relative;
	border: 1px solid #d4d4d4;
	box-shadow: 2px 2px #000;
	border-radius: 4px;
	background: #fff;
	width: 100%;
	padding: 15px;
	text-align: left;
	padding-left: 50px;
}
.settings::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 25px;
	background: #fff url(../img/gear.png) center left no-repeat;
	top: 10px;
	left: 10px;
}
.partners {
	margin: 30px auto;
	padding-left: 50px;
	background: url(../img/pp.png) center left no-repeat;
}
.download {
	padding-left: 50px;
	background: url(../img/load.png) center left no-repeat;
}
.result {
	margin: 30px;
	margin-left: 50px;
	padding: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	background-color: #fff;
	max-width: 130px;
	border: 2px solid #9a9a9a;
	box-shadow: 0px 0px 3px #9a9a9a;
	text-align: center;
}
.result span {
	
}
.promocode {
	display: block;
	padding: 15px 60px;
	width: 100%;
	max-width: 660px;
	min-height: 200px;
	background-color: #fff;
	border: 1px solid #262027;
	box-shadow: 0px 0px 2px #262027;
	border-radius: 4px;
}
.promocode-form {
	margin: 15px auto;
}
.promocode-button {
	margin: 10px auto;
	padding: 17px 30px;
	border: none;
	background-color: #42cc73;
	color: #fff;
	box-shadow: 1px 1px 2px #9a9a9a;
	border-radius: 2px;
	width: 100%;
	text-align: center;
	font-weight: 700;
}
.promocode-button:hover {
	box-shadow: none;
	cursor: pointer;
}
input[name="promocode-input"] {
	margin: 10px auto;
	padding: 14px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	width: 100%;
	border: 1px solid #000;
	box-shadow: 0px 0px 2px #9a9a9a;
}
input[name="promocode-input"]:focus {
	box-shadow: 0px 0px 5px #9a9a9a;
}
input[name="promocode-input-error"] {
	margin: 10px auto;
	padding: 14px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	width: 100%;
	border: 1px solid #000;
	box-shadow: 0px 0px 2px #9a9a9a;
}
.promocode-form img {
	margin-top: 23px;

}
.ili {
	margin-left: 120px;
}
#promocode p.promocode-error {
	color: #ec6e71;
	font-family: sans-serif;
	font-size: 18px;
	padding-top: 23px;
}
input[name="promocode-input-free"] {
	margin: 10px auto;
	padding: 14px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	width: 100%;
	border: 1px solid #000;
	box-shadow: 0px 0px 2px #9a9a9a;
}
#promocode p.promocode-free {
	color: #9e9e9e;
	font-family: sans-serif;
	font-size: 18px;
	padding-top: 23px;
}
input[name="promocode-input-ok"] {
	margin: 10px auto;
	padding: 14px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	width: 100%;
	border: 1px solid #000;
	box-shadow: 0px 0px 2px #9a9a9a;
}
#promocode p.promocode-ok {
	color: #9e9e9e;
	font-family: sans-serif;
	font-size: 18px;
	padding-top: 23px;
}
.save {
	margin: 10px auto;
	padding: 17px;
	border: none;
	background-color: #42cc73;
	color: #fff;
	box-shadow: 1px 1px 2px #9a9a9a;
	border-radius: 2px;
	width: 100%;
	min-width: 200px;
	text-align: center;
	font-weight: 700;
}
.save:hover {
	box-shadow: none;
	cursor: pointer;
}
.nosave {
	margin: 10px auto;
	padding: 17px;
	border: none;
	background-color: #adadad;
	color: #fff;
	box-shadow: 1px 1px 2px #9a9a9a;
	border-radius: 2px;
	width: 100%;
	min-width: 200px;
	text-align: center;
	font-weight: 700;
}
.nosave:hover {
	box-shadow: none;
	cursor: pointer;
}

/* LK */
.lk {
	background-color: #fbfbfb;
	padding: 35px 25px;
	box-shadow: 0px 0px 3px #dcdcdc;
}.lk a {
	font-size: 15px;
	color: #2e78c1;
}
.lk-phone, .lk-surname, .lk-name, .lk-interval p, .lk-timezone p {
	margin: 10px auto;
}
.lk-phone p, .lk-surname p, .lk-name p, .lk-email p {
	margin: 15px auto;
}
.lk-social p {
	margin: 10px auto;
}
.lk-opoveshenia p {
	margin: 4px auto;
}
.lk-opoveshenia span {
	font-size: 15px;
	position: absolute;
	margin-left: 5px;
	margin-top: 2px;
	line-height: 1.2;
}
select[name="UTC"], input[name="lk-name"], input[name="lk-surname"], input[name="lk-email"], input[name="lk-phone"]  {
	width: 100%;
	padding: 8px;
	color: #000;
	border: 1px solid #eee;
	font-size: 16px;
	text-align: left;
	margin: 5px auto;
}
select[name="hours"], select[name="hours1"] {
	width: 80%;
	padding: 8px;
	color: #000;
	border: 1px solid #eee;
	font-size: 16px;
	text-align: left;
	margin: 5px auto;
}
#lk .save {
	max-width: 250px;
}