@charset "UTF-8";
@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

/*!
 * Bootstrap Reboot v4.0.0 (https://getbootstrap.com)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

/*!
 * Bootstrap Grid v4.0.0 (https://getbootstrap.com)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    order: -1;
  }
  .order-sm-last {
    order: 13;
  }
  .order-sm-0 {
    order: 0;
  }
  .order-sm-1 {
    order: 1;
  }
  .order-sm-2 {
    order: 2;
  }
  .order-sm-3 {
    order: 3;
  }
  .order-sm-4 {
    order: 4;
  }
  .order-sm-5 {
    order: 5;
  }
  .order-sm-6 {
    order: 6;
  }
  .order-sm-7 {
    order: 7;
  }
  .order-sm-8 {
    order: 8;
  }
  .order-sm-9 {
    order: 9;
  }
  .order-sm-10 {
    order: 10;
  }
  .order-sm-11 {
    order: 11;
  }
  .order-sm-12 {
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    order: -1;
  }
  .order-md-last {
    order: 13;
  }
  .order-md-0 {
    order: 0;
  }
  .order-md-1 {
    order: 1;
  }
  .order-md-2 {
    order: 2;
  }
  .order-md-3 {
    order: 3;
  }
  .order-md-4 {
    order: 4;
  }
  .order-md-5 {
    order: 5;
  }
  .order-md-6 {
    order: 6;
  }
  .order-md-7 {
    order: 7;
  }
  .order-md-8 {
    order: 8;
  }
  .order-md-9 {
    order: 9;
  }
  .order-md-10 {
    order: 10;
  }
  .order-md-11 {
    order: 11;
  }
  .order-md-12 {
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    order: -1;
  }
  .order-lg-last {
    order: 13;
  }
  .order-lg-0 {
    order: 0;
  }
  .order-lg-1 {
    order: 1;
  }
  .order-lg-2 {
    order: 2;
  }
  .order-lg-3 {
    order: 3;
  }
  .order-lg-4 {
    order: 4;
  }
  .order-lg-5 {
    order: 5;
  }
  .order-lg-6 {
    order: 6;
  }
  .order-lg-7 {
    order: 7;
  }
  .order-lg-8 {
    order: 8;
  }
  .order-lg-9 {
    order: 9;
  }
  .order-lg-10 {
    order: 10;
  }
  .order-lg-11 {
    order: 11;
  }
  .order-lg-12 {
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    order: -1;
  }
  .order-xl-last {
    order: 13;
  }
  .order-xl-0 {
    order: 0;
  }
  .order-xl-1 {
    order: 1;
  }
  .order-xl-2 {
    order: 2;
  }
  .order-xl-3 {
    order: 3;
  }
  .order-xl-4 {
    order: 4;
  }
  .order-xl-5 {
    order: 5;
  }
  .order-xl-6 {
    order: 6;
  }
  .order-xl-7 {
    order: 7;
  }
  .order-xl-8 {
    order: 8;
  }
  .order-xl-9 {
    order: 9;
  }
  .order-xl-10 {
    order: 10;
  }
  .order-xl-11 {
    order: 11;
  }
  .order-xl-12 {
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-row {
    display: table-row !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: inline-flex !important;
  }
}

@media print {
  .d-print-none {
    display: none !important;
  }
  .d-print-inline {
    display: inline !important;
  }
  .d-print-inline-block {
    display: inline-block !important;
  }
  .d-print-block {
    display: block !important;
  }
  .d-print-table {
    display: table !important;
  }
  .d-print-table-row {
    display: table-row !important;
  }
  .d-print-table-cell {
    display: table-cell !important;
  }
  .d-print-flex {
    display: flex !important;
  }
  .d-print-inline-flex {
    display: inline-flex !important;
  }
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row !important;
  }
  .flex-sm-column {
    flex-direction: column !important;
  }
  .flex-sm-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-sm-wrap {
    flex-wrap: wrap !important;
  }
  .flex-sm-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-sm-start {
    justify-content: flex-start !important;
  }
  .justify-content-sm-end {
    justify-content: flex-end !important;
  }
  .justify-content-sm-center {
    justify-content: center !important;
  }
  .justify-content-sm-between {
    justify-content: space-between !important;
  }
  .justify-content-sm-around {
    justify-content: space-around !important;
  }
  .align-items-sm-start {
    align-items: flex-start !important;
  }
  .align-items-sm-end {
    align-items: flex-end !important;
  }
  .align-items-sm-center {
    align-items: center !important;
  }
  .align-items-sm-baseline {
    align-items: baseline !important;
  }
  .align-items-sm-stretch {
    align-items: stretch !important;
  }
  .align-content-sm-start {
    align-content: flex-start !important;
  }
  .align-content-sm-end {
    align-content: flex-end !important;
  }
  .align-content-sm-center {
    align-content: center !important;
  }
  .align-content-sm-between {
    align-content: space-between !important;
  }
  .align-content-sm-around {
    align-content: space-around !important;
  }
  .align-content-sm-stretch {
    align-content: stretch !important;
  }
  .align-self-sm-auto {
    align-self: auto !important;
  }
  .align-self-sm-start {
    align-self: flex-start !important;
  }
  .align-self-sm-end {
    align-self: flex-end !important;
  }
  .align-self-sm-center {
    align-self: center !important;
  }
  .align-self-sm-baseline {
    align-self: baseline !important;
  }
  .align-self-sm-stretch {
    align-self: stretch !important;
  }
}

@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important;
  }
  .flex-md-column {
    flex-direction: column !important;
  }
  .flex-md-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-md-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-md-wrap {
    flex-wrap: wrap !important;
  }
  .flex-md-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-md-start {
    justify-content: flex-start !important;
  }
  .justify-content-md-end {
    justify-content: flex-end !important;
  }
  .justify-content-md-center {
    justify-content: center !important;
  }
  .justify-content-md-between {
    justify-content: space-between !important;
  }
  .justify-content-md-around {
    justify-content: space-around !important;
  }
  .align-items-md-start {
    align-items: flex-start !important;
  }
  .align-items-md-end {
    align-items: flex-end !important;
  }
  .align-items-md-center {
    align-items: center !important;
  }
  .align-items-md-baseline {
    align-items: baseline !important;
  }
  .align-items-md-stretch {
    align-items: stretch !important;
  }
  .align-content-md-start {
    align-content: flex-start !important;
  }
  .align-content-md-end {
    align-content: flex-end !important;
  }
  .align-content-md-center {
    align-content: center !important;
  }
  .align-content-md-between {
    align-content: space-between !important;
  }
  .align-content-md-around {
    align-content: space-around !important;
  }
  .align-content-md-stretch {
    align-content: stretch !important;
  }
  .align-self-md-auto {
    align-self: auto !important;
  }
  .align-self-md-start {
    align-self: flex-start !important;
  }
  .align-self-md-end {
    align-self: flex-end !important;
  }
  .align-self-md-center {
    align-self: center !important;
  }
  .align-self-md-baseline {
    align-self: baseline !important;
  }
  .align-self-md-stretch {
    align-self: stretch !important;
  }
}

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important;
  }
  .flex-lg-column {
    flex-direction: column !important;
  }
  .flex-lg-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-lg-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-lg-wrap {
    flex-wrap: wrap !important;
  }
  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-lg-start {
    justify-content: flex-start !important;
  }
  .justify-content-lg-end {
    justify-content: flex-end !important;
  }
  .justify-content-lg-center {
    justify-content: center !important;
  }
  .justify-content-lg-between {
    justify-content: space-between !important;
  }
  .justify-content-lg-around {
    justify-content: space-around !important;
  }
  .align-items-lg-start {
    align-items: flex-start !important;
  }
  .align-items-lg-end {
    align-items: flex-end !important;
  }
  .align-items-lg-center {
    align-items: center !important;
  }
  .align-items-lg-baseline {
    align-items: baseline !important;
  }
  .align-items-lg-stretch {
    align-items: stretch !important;
  }
  .align-content-lg-start {
    align-content: flex-start !important;
  }
  .align-content-lg-end {
    align-content: flex-end !important;
  }
  .align-content-lg-center {
    align-content: center !important;
  }
  .align-content-lg-between {
    align-content: space-between !important;
  }
  .align-content-lg-around {
    align-content: space-around !important;
  }
  .align-content-lg-stretch {
    align-content: stretch !important;
  }
  .align-self-lg-auto {
    align-self: auto !important;
  }
  .align-self-lg-start {
    align-self: flex-start !important;
  }
  .align-self-lg-end {
    align-self: flex-end !important;
  }
  .align-self-lg-center {
    align-self: center !important;
  }
  .align-self-lg-baseline {
    align-self: baseline !important;
  }
  .align-self-lg-stretch {
    align-self: stretch !important;
  }
}

@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row !important;
  }
  .flex-xl-column {
    flex-direction: column !important;
  }
  .flex-xl-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-xl-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-xl-wrap {
    flex-wrap: wrap !important;
  }
  .flex-xl-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-xl-start {
    justify-content: flex-start !important;
  }
  .justify-content-xl-end {
    justify-content: flex-end !important;
  }
  .justify-content-xl-center {
    justify-content: center !important;
  }
  .justify-content-xl-between {
    justify-content: space-between !important;
  }
  .justify-content-xl-around {
    justify-content: space-around !important;
  }
  .align-items-xl-start {
    align-items: flex-start !important;
  }
  .align-items-xl-end {
    align-items: flex-end !important;
  }
  .align-items-xl-center {
    align-items: center !important;
  }
  .align-items-xl-baseline {
    align-items: baseline !important;
  }
  .align-items-xl-stretch {
    align-items: stretch !important;
  }
  .align-content-xl-start {
    align-content: flex-start !important;
  }
  .align-content-xl-end {
    align-content: flex-end !important;
  }
  .align-content-xl-center {
    align-content: center !important;
  }
  .align-content-xl-between {
    align-content: space-between !important;
  }
  .align-content-xl-around {
    align-content: space-around !important;
  }
  .align-content-xl-stretch {
    align-content: stretch !important;
  }
  .align-self-xl-auto {
    align-self: auto !important;
  }
  .align-self-xl-start {
    align-self: flex-start !important;
  }
  .align-self-xl-end {
    align-self: flex-end !important;
  }
  .align-self-xl-center {
    align-self: center !important;
  }
  .align-self-xl-baseline {
    align-self: baseline !important;
  }
  .align-self-xl-stretch {
    align-self: stretch !important;
  }
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.modal-open {
  overflow: hidden;
}

.city-select {
  border-radius: 5px;
  top: 10vh;
  left: 50%;
  width: 1000px;
  min-height: 80vh;
  background-color: #fff;
  transform: translateX(-50%);
  padding: 15px 30px;
}

.city-select_modal {
  position: fixed;
}

.city-select__header {
  margin-bottom: 15px;
  font-size: 24px;
}

.city-select__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid #00be8b;
  transition: all 0.3s;
}

.city-select__close-btn::before, .city-select__close-btn::after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: 14px;
  width: 1px;
  height: 29px;
  background-color: #00be8b;
  transform: rotateZ(45deg);
  transition: all 0.3s;
}

.city-select__close-btn::after {
  transform: rotateZ(-45deg);
}

.city-select__close-btn:hover {
  cursor: pointer;
  border: 1px solid #00f1b0;
}

.city-select__close-btn:hover::before, .city-select__close-btn:hover::after {
  top: 0px;
  left: 13px;
  width: 2px;
  background-color: #00f1b0;
  transform: rotateZ(135deg);
}

.city-select__close-btn:hover::after {
  transform: rotateZ(45deg);
}

.city-select__search {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  border-radius: 5px;
  border: 1px solid #00be8b;
  box-shadow: 1px 1px 2px #00be8b;
  font-size: 18px;
}

.city-select__popular-country {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: flex-start;
  padding: 0 40px;
  margin: 20px 0;
}

.popular-country__name {
  padding: 6px 18px;
  border: 1px solid #00be8b;
  border-radius: 18px;
  margin-right: 25px;
}

.popular-country__name:hover {
  box-shadow: 1px 1px 2px #00be8b;
  cursor: pointer;
}

.popular-country__name_active {
  box-shadow: 1px 1px 2px #00be8b;
}

.city-select__container {
  display: flex;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.city-select__country {
  overflow: auto;
  width: 25%;
  height: 100%;
  flex-flow: wrap column;
}

.city-select__country__name {
  padding: 7px 3px 7px 10px;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  padding-left: 10px;
  margin-bottom: 4px;
  position: relative;
  border-left: 3px solid transparent;
}

.city-select__country__name_active {
  cursor: pointer;
  border-left: 3px solid #00be8b;
}

.city-select__country__name:hover {
  cursor: pointer;
  color: #00be8b;
}

.city-select__city {
  padding-left: 15px;
  position: relative;
  width: 75%;
  overflow: auto;
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
}

.city-select__city_row {
  flex-flow: wrap row;
}

.city-select__city__name {
  width: 33%;
  padding: 7px 3px 7px 10px;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  padding-left: 10px;
  margin-bottom: 4px;
  position: relative;
  border-left: 3px solid transparent;
}

.city-select__city__name_active {
  cursor: pointer;
  border-left: 3px solid #00be8b;
}

.city-select__city__name:hover {
  cursor: pointer;
  color: #00be8b;
}

::placeholder {
  color: #666;
}

::selection {
  background-color: #e8effa;
  color: #e24444;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "roboto-example", sans-serif;
  overflow-x: hidden;
  color: #333;
  background-color: #e8effa;
}

body input, body textarea {
  border: #666 1px solid;
  outline: none;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
  border-color: red;
}

body input:required:valid, body textarea:required:valid {
  border-color: green;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 190, 139, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #00be8b;
  outline: 1px solid #00be8b;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-responsive.img-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

b,
strong {
  font-weight: bold;
}

hr {
  margin: 20px 0;
}

section {
  overflow: hidden;
}

.forms-shadow {
  box-shadow: 0px 0px 4px 2px #889ea4;
}

.pp-forms {
  position: fixed;
  width: 550px;
  height: auto;
  background-color: #fff;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  border-radius: 5px;
}

.pp-forms-overlay {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}

#header {
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #000;
  position: fixed;
  width: 100vw;
  z-index: 4;
  overflow: visible;
}

#header .menu {
  position: relative;
  overflow: hidden;
  float: left;
  height: 50px;
  width: 50px;
  top: 20px;
  margin-right: 15px;
}

#header .menu img {
  width: 40px;
}

#header .logo {
  position: relative;
  height: 50px;
  top: 5px;
}

#header .head-menu {
  display: flex;
  font-size: 0.85em;
}

#header .head-menu div {
  justify-content: space-between;
  flex: 1;
}

#header .region, #header .signin, #header .language, #header .add-excursion {
  position: relative;
  top: 18px;
}

#header .region .dd-btn, #header .language .dd-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#header .add-excursion {
  top: 28px;
}

#header .add-excursion .add-new {
  color: #000;
  text-decoration: none;
}

#header .add-excursion .add-new:hover {
  color: #e24444;
}

#header .signin {
  cursor: pointer;
  top: 28px;
  flex: 2 !important;
  text-align: center;
}

#header .signin a {
  margin-left: 8px;
  padding-left: 30px;
  position: relative;
  color: #333333;
  text-decoration: none;
}

#header .signin a::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 100%;
  background-image: url(../img/user.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(0, -50%);
}

#header .signin a:hover {
  color: #e24444;
}

#header .signin .login::before {
  background-image: url(../img/star.png);
}

#header .dd-btn {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
}

#header .dd-btn::before {
  content: '';
  display: block;
  position: absolute;
  height: 5px;
  width: 5px;
  position: absolute;
  top: 20px;
  right: 0px;
  border-top: 5px solid #333;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

#header .dd-btn ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 150px;
  margin-top: 10px;
}

#header .dd-btn ul > li {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#header .dd-btn ul > li > ul {
  margin: 0;
  padding: 0;
  height: 0;
}

#header .dd-btn ul > li > ul > li {
  padding: 0;
  margin: 0;
}

#header .dd-btn ul > li > ul > li a {
  margin: 0;
  padding: 0;
  width: 150px;
  padding: 15px 0;
  display: block;
  background-color: #fff;
  color: #333;
  text-decoration: none;
}

#header .dd-btn ul > li:hover ul {
  height: auto;
  margin-top: 10px;
}

#header .dd-btn ul > li:hover ul > li a:hover {
  background-color: #333;
  color: #fff;
}

#main {
  padding-top: 80px;
}

#main .slogan {
  text-transform: uppercase;
  font-size: 2.2em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

#main .slogan h1 {
  background-color: #fff;
  letter-spacing: 1.6px;
  color: #e24444;
  text-shadow: 1px 1px 1px #000000;
}

#main .slogan span {
  text-transform: none;
}

#main .about {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 150px;
}

#main .about a {
  display: block;
  background-color: #fff;
  font-size: 1.8em;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 15px;
  color: #000000;
  font-weight: 800;
  text-shadow: 0px 1px 1px #000000;
}

#main .about a:hover {
  text-decoration: none;
}

#main .head-category {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
}

#main .head-category a {
  justify-content: space-around;
  flex: 1;
  color: #000;
  text-decoration: none;
  transition: 0.5s all;
}

#main .head-category a:hover {
  color: #e24444;
}

#information .search {
  position: relative;
  left: 25px;
  margin-right: 15px;
  margin-bottom: 30px;
}

#information .search button {
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url("../img/search.png");
  background-size: 23px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#information .search input {
  width: 100%;
  padding-left: 35px;
}

#information .btn {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 5px;
  text-align: center;
}

#information .btn a {
  color: #000;
  text-decoration: none;
  transition: 0.5s all;
}

#information .btn a:hover {
  color: #e24444;
}

#information .galery .gal-item {
  position: relative;
}

#information .galery .gal-item .gal-item-img {
  position: relative;
  text-align: center;
  overflow: hidden;
}

#information .galery .gal-item .gal-item-img img {
  width: 100%;
  height: auto;
}

#information .galery .gal-item .gal-item-img .gal-item-img-stars {
  text-align: left;
  position: absolute;
  bottom: -12px;
  left: 26px;
  padding: 0;
  margin: 0;
  color: #efce4a;
  font-weight: 600;
  font-size: 1.6em;
}

#information .galery .gal-item .gal-item-img .gal-item-img-stars .one::after, #information .galery .gal-item .gal-item-img .gal-item-img-stars .two::after, #information .galery .gal-item .gal-item-img .gal-item-img-stars .three::after, #information .galery .gal-item .gal-item-img .gal-item-img-stars .four::after, #information .galery .gal-item .gal-item-img .gal-item-img-stars .five::after {
  content: '';
  position: absolute;
  width: 25px;
  background-image: url("../img/star.png");
  background-repeat: repeat-x;
  background-size: 25px;
  left: 42px;
  top: 8px;
  bottom: 0;
}

#information .galery .gal-item .gal-item-img .gal-item-img-stars .two::after {
  width: 50px;
}

#information .galery .gal-item .gal-item-img .gal-item-img-stars .three::after {
  width: 75px;
}

#information .galery .gal-item .gal-item-img .gal-item-img-stars .four::after {
  width: 100px;
}

#information .galery .gal-item .gal-item-img .gal-item-img-stars .five::after {
  width: 125px;
}

#information .galery .gal-item .gal-item-text {
  text-transform: uppercase;
}

#information .galery .gal-item .gal-item-text p {
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

#information .galery .gal-item .gal-item-text p:last-child {
  font-style: italic;
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 18px;
}

#slider {
  min-height: 400px;
}

#slider .col-12 {
  padding: 0;
  margin: 0;
}

#slider .static-slider-content {
  position: absolute;
  z-index: 1;
  top: 50px;
  width: 100%;
}

#slider .static-slider-content .slogan {
  position: relative;
  background-color: #e8effa;
  left: 50%;
  min-width: 290px;
  max-width: 35vw;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  transform: translate(-50%, 0);
  font-size: 1.6em;
}

#slider .static-slider-content .slogan h1 {
  background-color: #fff;
  letter-spacing: 1.6px;
  color: #e24444;
  text-shadow: 1px 1px 1px #000000;
}

#slider .static-slider-content .slogan h1 span {
  text-transform: none;
}

#slider .static-slider-content .about {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 290px;
  left: 50%;
  transform: translate(-50%, 0);
}

#slider .static-slider-content .about a {
  display: block;
  background-color: #fff;
  font-size: 1.8em;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 15px;
  color: #000000;
  font-weight: 800;
  text-shadow: 0px 1px 1px #000000;
}

#slider .static-slider-content .about a:hover {
  text-decoration: none;
}

#slider .owl-carousel {
  position: relative;
  height: 100%;
}

#slider .owl-carousel .item img {
  height: 100%;
  width: auto;
}

#slider .owl-carousel .owl-prev, #slider .owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  font-size: 3em;
  right: 0;
  transform: translate(0, -50%);
  background-color: #e8effa;
  border-radius: 50%;
}

#slider .owl-carousel .owl-prev span, #slider .owl-carousel .owl-next span {
  display: none;
}

#slider .owl-carousel .owl-prev {
  left: 0;
}

#slider .owl-carousel .owl-dots {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, 0);
}

#slider .owl-carousel .owl-dots span {
  background-color: #e8effa;
}

#slider .owl-carousel .owl-dots .active span {
  background-color: #e24444;
}

#map {
  margin-bottom: 20px;
}

#map #myMap {
  width: 100%;
  height: 400px;
}

#exscursion-form .forms {
  padding: 30px;
  margin: 30px;
}

#exscursion-form .forms label, #exscursion-form .forms input, #exscursion-form .forms textarea, #exscursion-form .forms select {
  padding: 3px;
  margin: 8px;
  width: 100%;
  max-width: 100%;
}

#exscursion-form .forms input, #exscursion-form .forms textarea, #exscursion-form .forms select {
  border: 1px solid #889ea4;
  border-radius: 3px;
}

#exscursion-form .forms textarea {
  resize: none;
}

#exscursion-form .forms .people::before {
  content: 'чел.';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
}

#exscursion-form .forms .textarea-description textarea {
  min-width: 50% !important;
  resize: horizontal;
}

#exscursion-form .forms .textarea-description .textarea-description-text {
  padding: 3px;
  margin-top: -8px;
  margin-left: 8px;
  font-size: 0.8em;
  opacity: 0.9;
}

#exscursion-form .forms .openfile {
  padding: 3px;
  margin: 8px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 30px;
}

#exscursion-form .forms .openfile input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#exscursion-form .forms .button {
  width: 100%;
  border: 1px solid #889ea4;
  box-shadow: 0px 0px 2px #889ea4;
  border-radius: 3px;
  padding: 8px 16px;
}

#exscursion-form .forms .button:hover {
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px #889ea4 inset;
}

#exscursion-form .forms input[type="radio"] {
  display: none;
}

#exscursion-form .forms label .label {
  display: block;
  width: 100%;
  padding: 3px;
  text-align: center;
  background-color: #fff;
  color: #000;
}

#exscursion-form .forms label .label:hover {
  cursor: pointer;
}

#exscursion-form .forms input[type="radio"]:checked + .label {
  background-color: #889ea4;
  color: #fff;
}

#signup #signin {
  opacity: 1;
}

#signup .forms {
  padding: 20px 40px;
  font-size: 15px;
}

#signup .forms label, #signup .forms input, #signup .forms select {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}

#signup .forms label input[type="checkbox"] {
  width: auto;
  cursor: pointer;
}

#signup .forms label span {
  cursor: pointer;
}

#signup .forms input, #signup .forms select {
  padding: 2px;
  padding-left: 10px;
  border: 1px solid #889ea4;
  border-radius: 4px;
  transition: all 0.3s;
}

#signup .forms input[type="radio"] {
  display: none;
}

#signup .forms label .label {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 2px;
  text-align: center;
  background-color: #fff;
  color: #000;
}

#signup .forms label .label:hover {
  cursor: pointer;
}

#signup .forms input[type="radio"]:checked + .label {
  background-color: #889ea4;
  color: #fff;
}

#signup .forms .button {
  width: 100%;
  border: 1px solid #889ea4;
  box-shadow: 0px 0px 2px #889ea4;
  border-radius: 3px;
  padding: 4px 16px;
}

#signup .forms .button:hover {
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px #889ea4 inset;
}

#signup .forms .button-inline {
  padding: 3px;
  margin-top: 30px;
}

.hidden {
  display: none;
  opacity: 0;
  transition: all 0.5s;
}

.center {
  text-align: center;
}

h2 {
  margin: 10px 0;
}

#search {
  height: 100vh;
  background-image: url(../img/000000.png);
}

#search form {
  margin-top: 50%;
  transform: translate(0, -50%);
  height: 78px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
}

#search form input, #search form button {
  width: 100%;
  padding: 26px 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#search form input[type="text"] {
  padding-left: 26px;
}

#search form input[type="text"] + span,
#search form button + span {
  display: block;
  position: absolute;
  width: 1px;
  height: 70px;
  right: 0;
  top: 4px;
  background-color: #889ea4;
}

#search form button + span {
  left: 0;
}

#search form input[type="date"] + span {
  display: block;
  position: absolute;
  width: 18px;
  height: 1px;
  right: -3px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #889ea4;
}

#table {
  min-height: 30vh;
}

#table .table {
  width: 100%;
  text-align: center;
  color: #333;
  margin: 20px 0;
}

#table .table th, #table .table td {
  border: 1px solid #333;
}

#table .table th {
  background-color: #889ea4;
}

#footer {
  background-color: #889ea4;
  padding-bottom: 25px;
}

#footer .footer-info, #footer .footer-fastlink {
  color: #e8effa;
  margin-top: 25px;
}

#footer .footer-info p, #footer .footer-info a, #footer .footer-fastlink p, #footer .footer-fastlink a {
  padding: 0;
  margin: 0;
}

#footer .footer-info a, #footer .footer-fastlink a {
  color: #e8effa;
  text-decoration: none;
  transition: 0.5s all;
}

#footer .footer-info a:hover, #footer .footer-fastlink a:hover {
  color: #e24444;
}

#footer .footer-fastlink {
  text-align: center;
}

#footer .social-btn {
  position: relative;
  margin-top: 25px;
}

#footer .social-btn a img {
  height: 30px;
}

#footer .copyrite {
  text-align: center;
  bottom: 0;
  color: #e8effa;
}

#profile {
  padding-top: 80px;
}

#profile .nav {
  margin-top: 30px;
}

#profile .nav li {
  list-style-type: none;
  width: 100%;
  position: relative;
  font-size: 0.9em;
  transition: all 0.3s;
}

#profile .nav li a {
  margin-bottom: 12px;
  padding: 8px 15px;
  padding-left: 35px;
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

#profile .nav li::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 15px;
  height: 100%;
  background-image: url(../img/profile/user.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(0, -50%);
}

#profile .nav li:nth-child(2)::before {
  background-image: url(../img/profile/list.png);
}

#profile .nav li:nth-child(3)::before {
  background-image: url(../img/profile/setting.png);
}

#profile .nav li:nth-child(4)::before {
  background-image: url(../img/profile/partner.png);
}

#profile .nav li:nth-child(5)::before {
  background-image: url(../img/profile/download.png);
}

#profile .nav li:hover {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #000;
}

#profile .nav .active {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #000;
}

#profile .profile-img {
  width: 125px;
  overflow: hidden;
  height: 125px;
  border-radius: 10em;
  margin-top: 20px;
  margin-left: 15px;
}

#profile .profile-img img {
  width: 125px;
  height: auto;
}

#profile .favorite, #profile .showplace, #profile .reviews, #profile .user-info {
  margin: 20px 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
}

#profile .favorite h2, #profile .showplace h2, #profile .reviews h2, #profile .user-info h2 {
  margin: 0;
  padding: 0;
}

#profile .favorite h3, #profile .showplace h3, #profile .reviews h3, #profile .user-info h3 {
  font-weight: 200;
}

#profile .favorite h3 span, #profile .showplace h3 span, #profile .reviews h3 span, #profile .user-info h3 span {
  font-weight: 600;
}

#profile .user-info p {
  margin-top: 20px;
}

#profile .user-info table, #profile .user-info tr, #profile .user-info td {
  padding: 0;
  margin: 0;
}

#profile .user-info td {
  font-size: 0.7em;
  line-height: 1.3em;
  padding: 3px 5px;
}

#profile .user-info td span {
  font-size: 2.25em;
  color: #e24444;
  padding: 3px;
}

#profile .user-info tr:nth-child(2) {
  text-transform: uppercase;
}

#profile .user-info tr:nth-child(2) td:nth-child(1) {
  font-size: 1em;
}

#profile .user-info tr:last-child {
  text-align: center;
}

#profile .user-info tr:last-child td {
  padding: 0;
}

#profile .showplace .place {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#profile .showplace .place img {
  width: 100%;
}

#profile .showplace .place .place-link {
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  font-size: 0.80em;
  font-weight: 600;
  letter-spacing: 0.5px;
}

#profile .showplace .place .place-link a {
  text-decoration: none;
  color: #889ea4;
}

#profile .showplace .place .photo {
  position: relative;
}

#profile .showplace .place .photo .place-desctiption {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  padding: 10px 5px;
  transition: 0.3s all;
}

#profile .showplace .place:hover .place-desctiption {
  left: 0;
}

#profile .button {
  width: 100%;
  display: block;
  padding: 8px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  background-color: #889ea4;
  color: #fff;
  text-decoration: none;
  transition: 0.3s all;
  border-radius: 3px;
}

#profile .button:first-child {
  margin-top: 20px;
  padding-left: 25px;
}

#profile .button:first-child::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 25px;
  height: 100%;
  background-image: url(../img/profile/heart.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(0, -50%);
}

#profile .button:hover {
  background-color: #eeeeee;
  color: #000;
}

#profile .button:last-child:hover {
  background-color: green;
  color: #fff;
}

#offer {
  padding-top: 80px;
  padding-bottom: 30px;
}

#offer h1 {
  font-weight: 200;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
}

#offer p {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

#offer h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1em;
  padding-left: 25px;
}

#partnpr {
  padding-top: 80px;
}

#partnpr .partnpr-text {
  margin: 20px 0;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #889ea4;
  border-radius: 5px;
}

#partnpr .partnpr-text h1 {
  text-align: center;
  text-transform: uppercase;
}

#partnpr .partnpr-text h3 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  margin: 10px 0;
}

#partnpr .partnpr-text h3 a {
  text-decoration: none;
  color: #000;
}

#partnpr .partnpr-text .button {
  float: none;
  display: block;
  padding: 10px 30px;
  background-color: #889ea4;
  margin: 8px 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s all;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 3px;
}

#partnpr .partnpr-text .button:hover {
  background-color: #566b70;
  box-shadow: 0px 0px 1px 1px black inset;
}

#partnpr .partnpr-text p {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

#partnpr .partnpr-text p span {
  font-weight: 600;
}

#partnpr .user-info {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #889ea4;
  border-radius: 5px;
}

#partnpr .user-info .user-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-top: 15px;
}

#partnpr .user-info .user-img img {
  width: 100%;
  height: auto;
}

#partnpr .user-info p {
  margin-left: 15px;
}

#partnpr .user-info span {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 15px;
  background-image: url(../img/more.jpg);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#partnpr .user-info ul {
  list-style-type: none;
  position: absolute;
  top: 35px;
  right: 35px;
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
}

#partnpr .user-info ul li {
  padding: 0;
  margin: 0;
}

#partnpr .user-info ul li {
  border: 1px solid black;
  background-color: #fff;
}

#partnpr .user-info ul li a {
  display: block;
  padding: 5px 15px;
  color: #000;
  font-size: 0.9em;
}

#partnpr .user-info span:hover ~ ul, #partnpr .user-info ul:hover {
  height: auto;
  overflow: auto;
}

#partnpr .edt-profile, #partnpr .promocode {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  margin: 20px 0;
  border: 1px solid #889ea4;
  border-radius: 5px;
  text-align: center;
}

#partnpr .edt-profile a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #000000;
}

#partnpr .promocode {
  padding: 10px 0;
  font-weight: 600;
}

#partnpr .pprogram, #partnpr .download {
  padding-left: 35px;
  position: relative;
}

#partnpr .pprogram::before, #partnpr .download::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 5px;
  width: 15px;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(0, -50%);
}

#partnpr .pprogram::before {
  background-image: url(../img/profile/partner.png);
}

#partnpr .download::before {
  background-image: url(../img/profile/download.png);
}

#experiences {
  padding-top: 80px;
  padding-bottom: 3px;
}

#experiences .button {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 10em;
  width: auto;
  text-align: center;
  position: relative;
}

#experiences .button a {
  display: block;
  padding: 3px;
  text-decoration: none;
  color: #889ea4;
  transition: all 0.5s;
}

#experiences .button a:hover {
  border-radius: 10em;
  box-shadow: 1px 1px 2px 1px #889ea4 inset;
  color: #000;
}

#experiences .button .active {
  border-radius: 10em;
  box-shadow: 1px 1px 2px 1px #889ea4 inset;
  color: #000;
}

#experiences .button .active::before {
  position: absolute;
  content: '';
  display: block;
  bottom: -10px;
  left: 50%;
  width: 10px;
  height: 10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid #fff;
  transform: translate(-50%, 0);
}

#experiences ul {
  margin: 0;
  padding: 0;
}

#experiences ul li {
  display: inline-block;
  margin-right: 8px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-weight: 600;
}

#experiences ul li a {
  display: block;
  padding: 8px 32px;
  text-decoration: none;
  color: #000;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: all 0.5s;
}

#experiences ul li a:hover {
  background-color: #889ea4;
  color: #fff;
}

#experiences ul .active {
  background-color: #889ea4;
}

#experiences ul .active a {
  color: #fff;
}

#experiences .content {
  background-color: #889ea4;
  color: #000;
  padding: 25px;
  margin-bottom: 30px;
  text-align: center;
  min-height: 350px;
}

#experiences .content .content-text {
  margin-bottom: 30px;
}

#experiences .content .content-text .photo {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 15px;
  position: relative;
}

#experiences .content .content-text .photo img {
  width: 100%;
}

#experiences .content .content-text .photo .raiting {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 30px;
  background-color: #fff;
  background-image: url(../img/star.png);
  background-size: contain;
  background-repeat: repeatX;
}

#experiences .content .content-text .photo .raiting::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 100%;
  background-color: #fff;
}

#experiences .content .content-text .photo .raiting::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 100%;
  background-color: #fff;
}

#experiences .content .content-text .photo .one {
  width: 30px;
}

#experiences .content .content-text .photo .two {
  width: 60px;
}

#experiences .content .content-text .photo .three {
  width: 90px;
}

#experiences .content .content-text .photo .four {
  width: 120px;
}

#experiences .content .content-text .photo .five {
  width: 150px;
}

#experiences .content .content-text .photo .time {
  position: absolute;
  background-color: #fff;
  bottom: 10px;
  right: 10px;
}

#experiences .content .content-text .photo .time p {
  padding: 0;
  margin: 0;
  padding: 2px 8px 2px 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

#experiences .content .content-text .photo .time::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  width: 25px;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(0, -50%);
  background-image: url(../img/clock.png);
}

#experiences .content .content-text .photo .time::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 100%;
  background-color: #fff;
}

#experiences .content .content-text .photo .name {
  position: absolute;
  color: #e8effa;
  top: 0px;
  padding: 12px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgba(136, 158, 164, 0.75);
}

#experiences .content .content-text .photo .name p {
  padding: 0;
  margin: 0;
}

#experiences .content .content-text .edit-link a {
  color: #e8effa;
  text-transform: uppercase;
  text-decoration: underline;
  width: 100%;
  display: block;
  padding: 5px;
  letter-spacing: 0.8px;
}

#experiences .content .button {
  text-align: center;
  padding: 15px 40px;
  border-radius: 3px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  transition: all 0.5s;
}

#experiences .content .button:hover {
  background-color: #404f53;
  color: #fff;
}

#experiences-2 {
  padding-top: 80px;
  padding-bottom: 3px;
}

#experiences-2 .content {
  background-color: rgba(136, 158, 164, 0.5);
  color: #000;
  padding: 25px;
  margin-bottom: 30px;
  text-align: center;
  min-height: 350px;
}

#experiences-2 .content .content-text {
  margin-bottom: 30px;
}

#experiences-2 .content .content-text .photo {
  overflow: hidden;
  margin-top: 20px;
  margin-left: 15px;
  position: relative;
  background-size: cover;
  background-position: center;
}

#experiences-2 .content .content-text .photo .raiting {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 30px;
  background-color: #fff;
  background-image: url(../img/star.png);
  background-size: contain;
  background-repeat: repeatX;
}

#experiences-2 .content .content-text .photo .raiting::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 100%;
  background-color: #fff;
}

#experiences-2 .content .content-text .photo .raiting::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 100%;
  background-color: #fff;
}

#experiences-2 .content .content-text .photo .one {
  width: 30px;
}

#experiences-2 .content .content-text .photo .two {
  width: 60px;
}

#experiences-2 .content .content-text .photo .three {
  width: 90px;
}

#experiences-2 .content .content-text .photo .four {
  width: 120px;
}

#experiences-2 .content .content-text .photo .five {
  width: 150px;
}

#experiences-2 .content .content-text .photo .time {
  position: absolute;
  background-color: #fff;
  bottom: 10px;
  right: 10px;
}

#experiences-2 .content .content-text .photo .time p {
  padding: 0;
  margin: 0;
  padding: 2px 8px 2px 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

#experiences-2 .content .content-text .photo .time::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  width: 25px;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(0, -50%);
  background-image: url(../img/clock.png);
}

#experiences-2 .content .content-text .photo .time::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 100%;
  background-color: #fff;
}

#experiences-2 .content .content-text .photo .name {
  position: absolute;
  color: #e8effa;
  top: 0px;
  padding: 12px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgba(136, 158, 164, 0.75);
}

#experiences-2 .content .content-text .photo .name p {
  padding: 0;
  margin: 0;
}

#experiences-2 .content .content-text .edit-link a {
  color: #e8effa;
  text-transform: uppercase;
  text-decoration: underline;
  width: 100%;
  display: block;
  padding: 5px;
  letter-spacing: 0.8px;
}

#experiences-2 .content .button {
  text-align: center;
  padding: 15px 40px;
  border-radius: 3px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  transition: all 0.5s;
}

#experiences-2 .content .button:hover {
  background-color: #404f53;
  color: #fff;
}

#sobytie-main {
  padding-top: 80px;
  padding-bottom: 3px;
}

#sobytie-main .breadcrumb {
  margin-left: 10px;
}

#sobytie-main .breadcrumb ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sobytie-main .breadcrumb ul li {
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 25px;
  position: relative;
  float: left;
}

#sobytie-main .breadcrumb ul li::after {
  content: '>';
  display: block;
  position: absolute;
  top: -3px;
  right: -16px;
  color: #e24444;
  font-size: 1.2em;
}

#sobytie-main .breadcrumb ul li:last-child::after {
  display: none;
}

#sobytie-main .breadcrumb ul li a {
  text-decoration: none;
  color: #000;
  font-size: 0.8em;
  font-weight: 600;
  transition: all 0.3s;
}

#sobytie-main .breadcrumb ul li a:hover {
  color: #e24444;
}

#sobytie-main h1 {
  font-size: 2.3em;
  letter-spacing: 1.5px;
}

#sobytie-main .raiting {
  position: relative;
}

#sobytie-main .raiting .one, #sobytie-main .raiting .two, #sobytie-main .raiting .three, #sobytie-main .raiting .four, #sobytie-main .raiting .five {
  margin-left: 8px;
}

#sobytie-main .raiting .one::after, #sobytie-main .raiting .two::after, #sobytie-main .raiting .three::after, #sobytie-main .raiting .four::after, #sobytie-main .raiting .five::after {
  content: '';
  position: absolute;
  width: 15px;
  background-image: url("../img/star.png");
  background-repeat: repeat-x;
  background-size: 15px;
  left: 0;
  top: 5px;
  bottom: 0;
}

#sobytie-main .raiting .one span:first-child, #sobytie-main .raiting .two span:first-child, #sobytie-main .raiting .three span:first-child, #sobytie-main .raiting .four span:first-child, #sobytie-main .raiting .five span:first-child {
  margin-left: 23px;
  text-align: center;
  position: relative;
  width: 25px;
  float: left;
  height: 25px;
  background-color: #889ea4;
  border-radius: 10em;
  color: #fff;
  font-size: 0.8em;
  padding-top: 2px;
}

#sobytie-main .raiting .one a, #sobytie-main .raiting .two a, #sobytie-main .raiting .three a, #sobytie-main .raiting .four a, #sobytie-main .raiting .five a {
  font-weight: 600;
  color: #000;
  text-decoration: underline;
  transition: all 0.3s;
}

#sobytie-main .raiting .one a:hover, #sobytie-main .raiting .two a:hover, #sobytie-main .raiting .three a:hover, #sobytie-main .raiting .four a:hover, #sobytie-main .raiting .five a:hover {
  color: #e24444;
}

#sobytie-main .raiting .two span:first-child {
  margin-left: 38px;
}

#sobytie-main .raiting .two::after {
  width: 30px;
}

#sobytie-main .raiting .three span:first-child {
  margin-left: 53px;
}

#sobytie-main .raiting .three::after {
  width: 45px;
}

#sobytie-main .raiting .four span:first-child {
  margin-left: 68px;
}

#sobytie-main .raiting .four::after {
  width: 60px;
}

#sobytie-main .raiting .five span:first-child {
  margin-left: 83px;
}

#sobytie-main .raiting .five::after {
  width: 75px;
}

#sobytie-main .favorite a {
  position: relative;
  margin-bottom: 25px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
  font-size: 0.85em;
  font-weight: 600;
}

#sobytie-main .favorite a::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 18px;
  height: 18px;
  background-image: url(../img/profile/heart.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(0, -50%);
}

#sobytie-main .favorite a:hover {
  color: #e24444;
}

#sobytie-main .slider img {
  width: 100%;
}

#sobytie-main .price {
  background-color: #fff;
  margin-top: 8px;
  border-radius: 3px;
  padding: 24px 20px;
  margin-bottom: 8px;
}

#sobytie-main .price .cost {
  text-align: center;
}

#sobytie-main .price .cost h2 {
  padding: 0;
  margin: 0;
}

#sobytie-main .price .cost p {
  padding: 0;
  margin: 0;
  font-size: 0.75em;
  margin-top: -8px;
}

#sobytie-main .price .time, #sobytie-main .price .people {
  position: relative;
}

#sobytie-main .price .time p, #sobytie-main .price .people p {
  padding-top: 12px;
  position: relative;
  font-weight: 600;
}

#sobytie-main .price .time p::before, #sobytie-main .price .people p::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(-100%, 0);
  background-image: url(../img/clock.png);
}

#sobytie-main .price .people p::before {
  background-image: url(../img/people.png);
  background-size: 20px;
}

#sobytie-main .price .active {
  background-color: #e24444;
}

#sobytie-main .price .button {
  width: 100%;
  display: block;
  border: 1px solid #889ea4;
  text-align: center;
  border-radius: 3px;
  transition: all 0.3s;
  padding: 8px 15px;
}

#sobytie-main .price .button:hover {
  background-color: #e24444;
  color: #fff;
  cursor: pointer;
}

#sobytie-main .price .button a {
  display: block;
  color: #000000;
  text-decoration: none;
}

#sobytie-main .price .button a:hover {
  color: #fff;
}

#sobytie-main .price .button .phone, #sobytie-main .price .button .watsapp {
  display: block;
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 3px;
  background-image: url(../img/phone.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

#sobytie-main .price .button .watsapp {
  background-image: url(../img/watsapp.png);
}

#sobytie-main .price .button .time {
  width: 100%;
  height: 100%;
}

#sobytie-main .price .hint {
  margin-top: 15px;
  font-size: 0.75em;
  font-weight: 600;
  margin-left: 25px;
  position: relative;
}

#sobytie-main .price .hint::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/accept.png);
}

#sobytie-main .about-org {
  background-color: #fff;
  padding: 8px;
  border-radius: 3px;
}

#sobytie-main .about-org .photo {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 10em;
}

#sobytie-main .about-org .photo img {
  width: 100%;
}

#sobytie-main .about-org .raiting {
  margin-left: 50%;
  transform: translate(-50%, 0);
  margin-top: 12px;
}

#sobytie-main .about-org h3 {
  font-weight: 200;
  text-align: center;
  font-size: 1em;
}

#sobytie-main .about-org .descrition h4, #sobytie-main .about-org .descrition p {
  padding: 0;
  margin: 0;
}

#sobytie-main .about-org .descrition h4 {
  margin: 0 0 8px 0;
  margin-top: -7px;
  color: #e24444;
}

#sobytie-main .about-org .descrition p {
  font-size: 0.85em;
}

#sobytie-main .about-org .descrition p:nth-child(3) {
  font-size: 0.75em;
  color: #889ea4;
}

#sobytie-main .about-org .descrition .button {
  display: block;
  font-size: 0.85em;
  bottom: 0;
  padding: 3px;
  margin-top: 10px;
  background-color: #e24444;
  color: #000;
  letter-spacing: .25px;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s;
}

#sobytie-main .about-org .descrition .button:hover {
  background-color: #d22121;
  color: #fff;
}

#sobytie-main .about-org .descrition .comment {
  position: relative;
  display: block;
  padding: 3px;
  margin-top: 5px;
  text-align: right;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  transition: all 0.3s;
}

#sobytie-main .about-org .descrition .comment::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/comment.png);
  transform: translate(0, -50%);
}

#sobytie-main .about-org .descrition .comment:hover {
  color: #e24444;
}

#sobytie-main .about-org .org-info {
  display: block;
  margin: 10px 0;
  padding: 8px 12px;
  text-align: center;
  color: #000;
  letter-spacing: .25px;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s;
  border: 2px solid #e24444;
}

#sobytie-main .about-org .org-info:hover {
  background-color: #d22121;
  color: #fff;
}

#sobytie-main .individual-price {
  background-color: #fff;
  margin: 8px 0;
  padding: 8px;
  border-radius: 3px;
}

#sobytie-main .individual-price h3, #sobytie-main .individual-price h4, #sobytie-main .individual-price p, #sobytie-main .individual-price hr {
  padding: 0;
  margin: 0;
}

#sobytie-main .individual-price h3 {
  text-align: center;
  font-size: 1em;
  font-weight: 200;
  margin: 8px 0;
}

#sobytie-main .individual-price h4 {
  font-size: 0.8em;
  padding-left: 15px;
}

#sobytie-main .individual-price p {
  font-size: 0.7em;
  margin-bottom: 8px;
}

#sobytie-main .individual-price hr {
  margin: 3px 0;
}

#sobytie-main .individual-price .cost {
  font-size: 1.3em;
  margin: 0 !important;
  font-weight: 400;
}

#sobytie-main .individual-price .cost span {
  font-weight: 600;
}

#sobytie-main .individual-price .cost + p {
  padding-left: 15px;
  font-size: 0.8em;
}

#sobytie-main .individual-price .cost + p span {
  font-weight: 600;
}

#sobytie-main .individual-price .button {
  display: block;
  padding: 6px 12px;
  text-align: center;
  color: #000;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s;
  background-color: #e24444;
}

#sobytie-main .individual-price .button:hover {
  background-color: #d22121;
  color: #fff;
}

#sobytie-main .individual-price .question {
  font-size: 0.8em;
  padding: 0 15px;
}

#sobytie-main .individual-price .question a {
  color: #e24444;
}

#sobytie-main .owl-carousel {
  position: relative;
}

#sobytie-main .owl-carousel .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
}

#sobytie-main .owl-carousel .owl-dots .active span {
  background-color: #e24444;
}

#sobytie-main .owl-carousel .owl-dots span {
  background-color: #fff;
}

#userslist {
  padding-top: 100px;
  min-height: 100vh;
}

#userslist .table {
  margin: 30px auto;
  color: #333;
}

#userslist .table thead tr td {
  padding: 0 15px;
}

#userslist .table thead tr td {
  text-align: center;
  font-weight: 600;
}

#userslist .table tbody tr {
  border-bottom: 1px solid #889ea4;
}

#userslist .table tbody tr:first-child {
  border-top: 1px solid #889ea4;
}

#userslist .table tbody tr:hover {
  cursor: pointer;
}

#userslist .table tbody tr td {
  padding: 0 25px;
  min-height: 55px;
}

#userslist .table tbody tr td a {
  text-align: center;
  display: block;
  color: #fff;
  background-color: #28a745;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 5px 0;
  text-decoration: none;
  transition: all 0.3s;
}

#userslist .table tbody tr td a:hover {
  background-color: #dc3545;
}

/*==========  Desktop First  ==========*/
@media (max-width: 991.98px) {
  .region, .signin, .language {
    display: none;
  }
  .slogan h1 {
    font-size: 1.3em;
  }
  .head-category {
    font-size: 0.8em;
  }
  #information .search {
    margin: 0;
    padding: 0;
  }
  #information .btn {
    margin: 15px 0;
  }
  #footer .col-lg-3 .footer-fastlink {
    display: none;
  }
  .footer-info {
    text-align: center;
  }
  .social-btn {
    margin: 0;
    padding: 0;
    left: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 575.98px) {
  .head-category {
    font-size: 0.65em;
  }
}

/*==========  Mobile First  ==========*/
