﻿/* @import "http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"; */

* {margin:0;padding:0;}

body {
	background: #e8effa;
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
}

p {margin-bottom:10px}

a {
    color: #1569a5;
}

li {
	margin-bottom: 15px;
}

.clear {
    clear: both;
}

.hName {
    font-size: 30px;
    font-weight: bold;
	margin-bottom: 35px;
}

.mName {
    font-size: 24px;
    color: #333;
    margin-bottom: 40px;
    margin-top: 40px;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
}

.wrapper .leftB {
	width: 250px;
	float: left;
	background: transparent;
}

.leftB ul.leftMenu {
	list-style:none;
	width:100%;
	display: block;
}

.leftB ul.leftMenu li {
	width: 100%;
	display: block;
}

.leftB ul.leftMenu li a {
	padding: 15px 15px 15px 45px;
	width:100%;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-decoration: none;
	color: #181818;
	font-weight: bold;
	border-radius:5px;
}

.leftB ul.leftMenu li.lim1 a {
	background: url(images/im1.png) 12px center no-repeat;
	background-size: 25px;
}
.leftB ul.leftMenu li.lim2 a {
	background: url(images/im2.png) 12px center no-repeat;
	background-size: 25px;
}
.leftB ul.leftMenu li.lim3 a {
	background: url(images/im3.png) 12px center no-repeat;
	background-size: 25px;
}
.leftB ul.leftMenu li.lim4 a {
	background: url(images/im4.png) 12px center no-repeat;
	background-size: 25px;
}
.leftB ul.leftMenu li.lim5 a {
	background: url(images/im5.png) 12px center no-repeat;
	background-size: 25px;
}

.leftB ul.leftMenu li a.active {
	background-color:#fff;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}

.wrapper .rightB {
	width: 900px;
	float: right;
	background: transparent;
}

.rightB .userInfo {
	background: #fff;
	border-radius: 5px;
	padding: 25px 25px 50px;
}

.rightB .userInfo .uIL img.imageUser {
    float: left;
    width: 150px;
    margin-right: 50px;
}

.rightB .userInfo .uIL {
	
width: 650px;
	
float: left;
}

.rightB .userInfo .uIL .userName {
    margin-bottom: 50px;
    font-size: 20px;
}

.rightB .userInfo .uIL  .countIL {
    width: 262px;
    float: left;
	padding-right: 30px;
	margin-top:10px;
}

.rightB .userInfo .uIL  .countIR {
    width: 150px;
    float: left;
	margin-top:10px;
}
.rightB .userInfo .uIL  .countIL.bal {
    font-size:20px;
	margin-top:10px;
	line-height: 34px;
}

.rightB .userInfo .uIL .countIC {
    float: right;
    width: 450px;
    text-align: center;
}

.rightB .userInfo .uIL  span.count {
    font-size: 34px;
    float:  left;
    color: #e74c3c;
    margin-right: 9px;
    line-height: 34px;
}

.rightB .userInfo .uIR {
    float: right;
    width: 190px;
}

.rightB .userInfo .uIR a.btn {
    width: 100%;
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    text-decoration: none;
    background-color: #889ea4;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.rightB .userInfo .uIR a.btn.fvr {
    background-image: url(images/like.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px center;
    padding-left: 20px;
    width: 170px;
}


.tabsWarp {
    background: #fff;
    margin: 20px 0 50px;
    border-radius: 5px;
}

/* Базовый контейнер табов */
.tabs {
	min-width: 320px;
	background: #f1f1f1;
	border-radius: 5px;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;
	padding: 20px;
	background: #fff;
	min-height: 200px;
	border-radius: 0px 0px 5px 5px;
}
.tabs>section>p {
	line-height: 1.5;
	color: #383838;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;
	margin: 0;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	background: #f1f1f1;
	border-radius: 5px 5px 0 0;
}
/* Изменения стиля переключателей вкладок при наведении */
 
.tabs>label:hover {
	color: #888;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #555;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4, #tab5:checked~#content-tab5, #tab6:checked~#content-tab6 {
	display: block;
}

/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}

#content-tab3, #content-tab4, #content-tab6 { 
	text-align: center;
}

.tabs .btn {
    padding:  10px 15px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
	background: #7e8eea;
	background: -moz-linear-gradient(top, #7e8eea 0%, #1e5799 100%);
	background: -webkit-linear-gradient(top, #7e8eea 0%,#1e5799 100%);
	background: linear-gradient(to bottom, #7e8eea 0%,#1e5799 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e8eea', endColorstr='#1e5799',GradientType=0 );;
}

.tabs .btn:focus {
    background: #4f80b9;
	background: -moz-linear-gradient(top, #4f80b9 0%, #1e5799 100%);
	background: -webkit-linear-gradient(top, #4f80b9 0%,#1e5799 100%);
	background: linear-gradient(to bottom, #4f80b9 0%,#1e5799 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f80b9', endColorstr='#1e5799',GradientType=0 );
}


/*tab1*/
.statsInfo {
    background-color: #2e3a4c;
    color: #fff;
    margin: 20px -20px;
    padding: 20px;
}

.sTItem {
    float: left;
    display: block;
    width: 30%;
    padding: 0 20px;
    border-left: 1px solid #ccc;
}

.sTItem.leftI {
    padding-left: 0;
    border: 0;
}

.sTItem.rightI {
    padding-right: 0;
    height: 151px;
}

.countI {
    background: #50a949;
    display: table;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
    margin: 10px 0;
}

.countI span {
    font-size: 14px;
}

.rules li, .rules p {
	margin-left: 50px;
}

.rules .titleR {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.rules span.countR {
	margin-right:15px;
	width:35px;
	background-color:#000;
	color:#fff;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	padding: 9px 0;
	max-height: 17px;
	font-size: 14px;
}

.qBlock {
    background-color: #f2f4f4;
    padding: 25px;
}

.noActive {
    background: #db5a5c;
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 25px;
}

/*tab2*/
.itemEx {
    margin-bottom:30px;
}

img.imageEx {
    float: left;
    border: 5px solid #fff;
    box-shadow: 1px 2px 6px #CCD;
    margin-right: 25px;
}

.titleEx {
    font-size: 20px;
    font-weight: bold;
    /* float: left; */
    color: #333;
    display: inline-block;
}

.locationEx {display: grid;padding-left: 25px;line-height: 37px;background: url(images/marker.png) left center no-repeat;background-size: 17px;text-decoration: none;}

.statusEx {
    float: right;
    background-color: #e4e4e4;
    font-weight: bold;
    color: #333;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 3px;
}

a.btnS {
    border: 1px solid #bcc5cf;
    border-radius: 2px;
    padding: 4px;
    margin: 10px 0;
    /* display: block; */
    color: #333;
    text-decoration:  none;
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #e8e9ea 100%);
    background: -webkit-linear-gradient(top, #fefefe 0%,#e8e9ea 100%);
    background: linear-gradient(to bottom, #fefefe 0%,#e8e9ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e8e9ea',GradientType=0 );
}

.alertEx {
    margin-bottom: 10px;
	color: #a7a7a7;
}

#content-tab2 a.inline.btn.cboxElement {
    margin: 0 0 20px;
}

/*tab4*/
.sticky {
  position: sticky;
  top: 0;
  bottom: 0;  /* не рекомендуется для высоких элементов, так как на коротких устройствах он загородит собой информацию родителя */
  min-height: 2em;
}

/*tab5*/


/* leftBlock */


#content-tab2 .leftB, #content-tab5 .leftB, .popupadd .leftB {
	width:640px;float:left;display:block;
}

#content-tab5 .zzj {
	float: right;
    color: #fff;
    background-color: #00be8b;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

#content-tab5 .zzk {
	float: right;
    color: #00be8b;
    padding: 5px 10px;
    text-decoration: none;
}

.date {
    font-size: 20px;
    font-weight:  bolder;
    float: left;
}

table.times {
    color: #ccc;
    font-size: 12px;
    margin-top: 10px;
}

td.bord {
    border: 1px solid #dee0e4;
    width: 100%;
    border-bottom: none;
}

table.times td {
    height: 46px;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

table.times tr {
    padding: 0;
}

tr td.bord.last {
    border-bottom: 1px solid #dee0e4;
}

/* rightBlock */

#content-tab2 .rightB, #content-tab5 .rightB, .popupadd .rightB {
	width:200px;float:right;
}

.prev a {
    background: url(images/leftCal.png) center no-repeat;
}
.next a {
    background: url(images/rightCal.png) center no-repeat;
}

.cal {
  display: block;
}

.cal a {
  text-decoration: none;
}

.cal caption, .cal thead {
  display: block;
  line-height: 32px;
  font-weight: bold;
  color: #000;
  text-align: left;
  font-size: 16px;
}

.cal caption a {
  display: block;
  width: 25px;
  height: 25px;
}

.cal caption a:hover {
  color: white;
}

.cal caption .prev {
  float: right;
  margin-right: 10px;
}

.cal caption .next {
  float: right;
}

.cal th, .cal td {
  width: 24px;
  text-align: center;
}

.cal th {
  line-height: 20px;
  font-size: 10px;
  color: #000;
  background: #ECECEF;
  font-weight: normal;
}

.cal td {
  font-size: 11px;
  border: 1px solid #dee0e4;
}

.cal td.off {
    border: none;
}

.cal td.no {
    border: none;
}

.cal td.today {
    border: 1px solid #00be8b;
}

.cal td a {
  clear: both;
  display: block;
  position: relative;
  width: 24px;
  line-height: 28px;
  color: #666;
  font-weight: normal;
}

.cal td.off a {
  color: #F0EEE9;
}

.cal td.active a, .cal td a:active {
  margin: 0px;
  border: 1px solid #00BE8B;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.cal td.active:first-child a, .cal td:first-child a:active {
  border-left: 0;
  margin-left: 0;
}

.cal td.active:last-child a, .cal td:last-child a:active {
  border-right: 0;
  margin-right: 0;
}

.cal tr:last-child td.active a, .cal tr:last-child td a:active {
  border-bottom: 0;
  margin-bottom: 0;
}



/* popup */

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
}
.control-radio .control_indicator {
    border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffffff;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b;
}
/* Новый календарь */
#calendar td {
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid transparent;
}
td.prev:hover, td.next:hover {
    cursor: pointer;
}

tr.day-name td {
    height: 15px !important;
    margin: 3px 0;
    font-size: 10px;
    background-color: #ECECEF;
    font-weight: bold;
}
td.month-year {
    font-weight: bold;
    font-size: 15px;
    text-align-last: left;
}
td.prev {
    background: url(images/leftCal.png) center no-repeat;
}
td.next {
    background: url(images/rightCal.png) center no-repeat;
}
td.today {
    font-weight: bold;
    color: #fff;
    border: 1px solid #00BE8B;
    background-color: #00BE8B;
}
#calendar tbody td:hover {
    border: 1px solid #00BE8B;
    background-color: #00BE8B;
}
#calendar tbody td {
    transition: all 0.5s;
    cursor: pointer;
    border: 1px solid #dee0e4;
}
#calendar tbody td.empty {
    transition: all 0.5s;
    cursor: pointer;
    border: 1px solid transparent;
}
#calendar tbody td.empty:hover {
    cursor: default;
    border: 1px solid transparent;
    background-color: transparent;
}