@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
    .region, .signin, .language
        display: none
    .slogan h1
        font-size: 1.3em
    .head-category
        font-size: 0.8em
    #information
        .search
            margin: 0
            padding: 0
        .btn
            margin: 15px 0
    #footer
        .col-lg-3
            .footer-fastlink
                display: none
    .footer-info
        text-align: center
    .social-btn
        margin: 0
        padding: 0
        left: 0
        margin-bottom: 15px

// ≥768px
+media-breakpoint-down(sm)
    

// ≥576px
+media-breakpoint-down(xs)
    .head-category
        font-size: 0.65em

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
