@import "vars"
@import "fonts"
@import "libs"
@import "city"


::placeholder
	color: #666

::selection
	background-color: $main-color
	color: #e24444

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background-color: $main-color
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
::-webkit-scrollbar 
	width: 12px
::-webkit-scrollbar-track 
	-webkit-box-shadow: inset 0 0 6px rgba(#00be8b,0.3)
::-webkit-scrollbar-thumb
	background-color: #00be8b
	outline: 1px solid #00be8b
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold
hr
	margin: 20px 0
section
	overflow: hidden
.forms-shadow
	box-shadow: 0px 0px 4px 2px $footer-bgcolor
.pp-forms
	position: fixed
	width: 550px
	height: auto
	background-color: #fff
	top: 100px
	left: 50%
	transform: translate(-50%, 0)
	z-index: 3
	border-radius: 5px
.pp-forms-overlay
	z-index: 2
	background-color: rgba(#fff, 0.8)
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0
	opacity: 1
#header
	height: 80px
	background-color: #fff
	border-bottom: 1px solid #000
	position: fixed
	width: 100vw
	z-index: 4
	overflow: visible
	.menu
		position: relative
		overflow: hidden
		float: left
		height: 50px
		width: 50px
		top: 20px
		margin-right: 15px
		img
			width: 40px
	.logo
		position: relative
		height: 50px
		top: 5px
	.head-menu
		display: flex
		font-size: 0.85em
	.head-menu div
		justify-content: space-between
		flex: 1
	.region, .signin, .language, .add-excursion 
		position: relative
		top: 18px
	.region, .language
		.dd-btn
			position: absolute
			left: 50%
			transform: translate(-50%,0)
	.add-excursion
		top: 28px
		.add-new
			color: #000
			text-decoration: none
			&:hover
				color: $hover-color
	.signin
		cursor: pointer
		top: 28px
		flex: 2 !important
		text-align: center
		a
			margin-left: 8px
			padding-left: 30px
			position: relative
			color: #333333
			text-decoration: none
			&::before
				content: ''
				display: block
				position: absolute
				top: 50%
				left: 0
				width: 30px
				height: 100%
				background-image: url(../img/user.png)
				background-size: contain
				background-position: center
				background-repeat: no-repeat
				transform: translate(0, -50%)
			&:hover
				color: $hover-color
		.login
			&::before
				background-image: url(../img/star.png)
	.dd-btn
		position: relative
		text-align: center
		padding: 0
		margin: 0
		&::before
			content: ''
			display: block
			position: absolute
			height: 5px
			width: 5px
			position: absolute
			top: 20px
			right: 0px
			border-top: 5px solid $text
			border-left: 5px solid transparent
			border-right: 5px solid transparent
		ul
			list-style-type: none
			text-align: center
			padding: 0
			margin: 0
			width: 150px
			margin-top: 10px
		ul>li
			padding: 0
			margin: 0
			overflow: hidden
		ul>li>ul
			margin: 0
			padding: 0
			height: 0
		ul>li>ul>li
			padding: 0
			margin: 0
			a
				margin: 0
				padding: 0
				width: 150px
				padding: 15px 0
				display: block
				background-color: #fff
				color: $text
				text-decoration: none
		ul > li:hover ul
			height: auto
			margin-top: 10px
		ul > li:hover ul > li
			a:hover
				background-color: $text
				color: #fff
#main
	padding-top: 80px
	.slogan
		text-transform: uppercase
		font-size: 2.2em
		text-align: center
		margin-top: 50px
		margin-bottom: 70px
		h1
			background-color: #fff
			letter-spacing: 1.6px
			color: $hover-color
			text-shadow: 1px 1px 1px #000000
		span
			text-transform: none
	.about
		text-align: center
		text-transform: uppercase
		margin-bottom: 150px
		a
			display: block
			background-color: #fff
			font-size: 1.8em
			padding: 10px
			border: 2px solid #000000
			border-radius: 15px
			color: #000000
			font-weight: 800
			text-shadow: 0px 1px 1px #000000
			&:hover
				text-decoration: none
	.head-category
		text-transform: uppercase
		text-align: center
		margin-bottom: 20px
		display: flex
		a
			justify-content: space-around
			flex: 1
			color: #000
			text-decoration: none
			transition: 0.5s all
			&:hover
				color: $hover-color
#information
	.search
		position: relative
		left: 25px
		margin-right: 15px
		margin-bottom: 30px
		button
			position: absolute
			height: 30px
			width: 30px
			background-image: url("../img/search.png")
			background-size: 23px
			background-position: center
			background-repeat: no-repeat
			background-color: transparent
			border: none
			cursor: pointer
		input
			width: 100%
			padding-left: 35px
	.btn
		text-transform: uppercase
		font-size: 0.8em
		margin-top: 5px
		text-align: center
		a
			color: #000
			text-decoration: none
			transition: 0.5s all
			&:hover
				color: $hover-color
	.galery
		.gal-item
			position: relative
			.gal-item-img
				position: relative
				text-align: center
				overflow: hidden
				img
					width: 100%
					height: auto
				.gal-item-img-stars
					text-align: left
					position: absolute
					bottom: -12px
					left: 26px
					padding: 0
					margin: 0
					color: #efce4a
					font-weight: 600
					font-size: 1.6em
					.one, .two, .three, .four, .five
						&::after
							content: ''
							position: absolute
							width: 25px
							background-image: url("../img/star.png")
							background-repeat: repeat-x
							background-size: 25px
							left: 42px
							top: 8px
							bottom: 0
					.two
						&::after
							width: 50px
					.three
						&::after
							width: 75px
					.four
						&::after
							width: 100px
					.five
						&::after
							width: 125px
			.gal-item-text
				text-transform: uppercase
				p
					padding: 0
					margin: 0
					padding-left: 10px
				p:last-child
					font-style: italic
					font-size: 0.9em
					font-weight: 600
					margin-bottom: 18px
#slider
	min-height: 400px
	.col-12
		padding: 0
		margin: 0
	.static-slider-content
		position: absolute
		z-index: 1
		top: 50px
		width: 100%
		.slogan
			position: relative
			background-color: $main-color
			left: 50%
			min-width: 290px
			max-width: 35vw
			margin-top: 50px
			margin-bottom: 100px
			text-align: center
			transform: translate(-50%, 0)
			font-size: 1.6em
			h1
				background-color: #fff
				letter-spacing: 1.6px
				color: $hover-color
				text-shadow: 1px 1px 1px #000000
				span
					text-transform: none
		.about
			position: relative
			text-align: center
			text-transform: uppercase
			width: 290px
			left: 50%
			transform: translate(-50%, 0)
			a
				display: block
				background-color: #fff
				font-size: 1.8em
				padding: 10px
				border: 2px solid #000000
				border-radius: 15px
				color: #000000
				font-weight: 800
				text-shadow: 0px 1px 1px #000000
				&:hover
					text-decoration: none
	.owl-carousel
		position: relative
		height: 100%
		.item
			img
				height: 100%
				width: auto
		.owl-prev, .owl-next
			position: absolute
			top: 50%
			width: 40px
			height: 40px
			font-size: 3em
			right: 0
			transform: translate(0, -50%)
			background-color: $main-color
			border-radius: 50%
			span
				display: none
		.owl-prev
			left: 0
		.owl-dots
			position: absolute
			bottom: 8px
			left: 50%
			transform: translate(-50%, 0)
			span
				background-color: $main-color
			.active 
				span
					background-color: $hover-color
#map
	margin-bottom: 20px
	#myMap
		width: 100%
		height: 400px
#exscursion-form
	.forms
		padding: 30px
		margin: 30px
		label, input, textarea, select
			padding: 3px
			margin: 8px
			width: 100%
			max-width: 100%
		input, textarea, select
			border: 1px solid $footer-bgcolor
			border-radius: 3px
		textarea // Многострочный текст
			resize: none //Запрет изменения размера поля
		.people
			&::before
				content: 'чел.'
				display: block
				position: absolute
				top: 50%
				right: 0
				transform: translate(100%,-50%)
		.textarea-description
			textarea // Многострочный текст
				min-width: 50% !important
				resize: horizontal //Запрет изменения размера поля
			.textarea-description-text
				padding: 3px
				margin-top: -8px
				margin-left: 8px
				font-size: 0.8em
				opacity: 0.9
		.openfile
			padding: 3px
			margin: 8px
			width: 120px
			height: 120px
			overflow: hidden
			position: relative
			background-size: 100px
			background-position: center
			background-repeat: no-repeat
			border: 2px solid black
			border-radius: 8px
			margin-bottom: 30px
			input
				opacity: 0
				width: 100%
				height: 100%
				position: absolute
				top: 0
				left: 0
				margin: 0
				padding: 0
		.button
			width: 100%
			border: 1px solid $footer-bgcolor
			box-shadow: 0px 0px 2px $footer-bgcolor
			border-radius: 3px
			padding: 8px 16px
			&:hover
				transition: all 0.3s
				cursor: pointer 
				box-shadow: 0px 0px 2px 1px $footer-bgcolor inset
		input[type="radio"]
			display: none
		label 
			.label
				display: block
				width: 100%
				padding: 3px
				text-align: center
				background-color: #fff
				color: #000
				&:hover
					cursor: pointer
		input[type="radio"]:checked + .label 
			background-color: $footer-bgcolor
			color: #fff
#signup
	#signin
		opacity: 1
	.forms
		padding: 20px 40px
		font-size: 15px
		label, input, select
			width: 100%
			padding: 0
			margin: 0
			margin-bottom: 3px
		label
			input[type="checkbox"]
				width: auto
				cursor: pointer
			span
				cursor: pointer
		input, select
			padding: 2px
			padding-left: 10px
			border: 1px solid $footer-bgcolor
			border-radius: 4px 
			transition: all 0.3s
		input[type="radio"]
			display: none
		label 
			.label
				display: block
				width: 100%
				margin-top: 5px
				padding: 2px
				text-align: center
				background-color: #fff
				color: #000
				&:hover
					cursor: pointer
		input[type="radio"]:checked + .label 
			background-color: $footer-bgcolor
			color: #fff
		.button
			width: 100%
			border: 1px solid $footer-bgcolor
			box-shadow: 0px 0px 2px $footer-bgcolor
			border-radius: 3px
			padding: 4px 16px
			&:hover
				transition: all 0.3s
				cursor: pointer 
				box-shadow: 0px 0px 2px 1px $footer-bgcolor inset
		.button-inline
			padding: 3px
			margin-top: 30px
.hidden
	display: none
	opacity: 0
	transition: all 0.5s
.center
	text-align: center
h2
	margin: 10px 0

//Поиск
#search
	height: 100vh
	background-image: url(../img/000000.png)
	form
		margin-top: 50%
		transform: translate(0,-50%)
		height: 78px
		background-color: #fff
		overflow: hidden
		border-radius: 5px
		input, button
			width: 100%
			padding: 26px 0
			border: none
			background-color: transparent
			cursor: pointer
		input[type="text"]
			padding-left: 26px
		input[type="text"] + span,
		button + span
			display: block
			position: absolute
			width: 1px
			height: 70px
			right: 0
			top: 4px
			background-color: $footer-bgcolor
		button + span
			left: 0
		input[type="date"] + span
			display: block
			position: absolute
			width: 18px
			height: 1px
			right: -3px
			top: 50%
			transform: translate(0,-50%)
			background-color: $footer-bgcolor
#table
	min-height: 30vh
	.table
		width: 100%
		text-align: center
		color: $text
		margin: 20px 0
		th, td
			border: 1px solid $text
		th
			background-color: $footer-bgcolor

//Футер
#footer
	background-color: $footer-bgcolor
	padding-bottom: 25px
	.footer-info, .footer-fastlink
		color: $main-color
		margin-top: 25px
		p, a
			padding: 0
			margin: 0
	.footer-info, .footer-fastlink
		a
			color: $main-color
			text-decoration: none
			transition: 0.5s all
			&:hover
				color: $hover-color
	.footer-fastlink
		text-align: center
	.social-btn
		position: relative
		margin-top: 25px
		a
			img
				height: 30px
	.copyrite
		text-align: center
		bottom: 0
		color: $main-color

//Профиль
#profile	
	padding-top: 80px
	.nav
		margin-top: 30px
		li
			list-style-type: none
			width: 100%
			position: relative
			font-size: 0.9em
			transition: all 0.3s
			a
				margin-bottom: 12px
				padding: 8px 15px
				padding-left: 35px
				display: block
				text-decoration: none
				color: #000
				font-weight: 600
			&::before
				content: ''
				display: block
				position: absolute
				top: 50%
				left: 10px
				width: 15px
				height: 100%
				background-image: url(../img/profile/user.png)
				background-size: contain
				background-position: center
				background-repeat: no-repeat
				transform: translate(0, -50%)
			&:nth-child(2)::before
				background-image: url(../img/profile/list.png)
			&:nth-child(3)::before
				background-image: url(../img/profile/setting.png)
			&:nth-child(4)::before
				background-image: url(../img/profile/partner.png)
			&:nth-child(5)::before
				background-image: url(../img/profile/download.png)
			&:hover
				background-color: #fff
				border-radius: 3px
				box-shadow: 1px 1px 1px 1px #000 
		.active
			background-color: #fff
			border-radius: 3px
			box-shadow: 1px 1px 1px 1px #000 
	.profile-img
		width: 125px
		overflow: hidden
		height: 125px
		border-radius: 10em
		margin-top: 20px
		margin-left: 15px
		img
			width: 125px
			height: auto
	.favorite, .showplace, .reviews, .user-info
		margin: 20px 0
		background-color: #fff
		padding: 20px
		border-radius: 3px
		h2
			margin: 0
			padding: 0
		h3
			font-weight: 200
			span
				font-weight: 600
	.user-info
		p
			margin-top: 20px
		table, tr, td
			padding: 0
			margin: 0
		td 
			font-size: 0.7em
			line-height: 1.3em
			padding: 3px 5px
			span
				font-size: 2.25em
				color: $hover-color
				padding: 3px
		tr:nth-child(2) 
			text-transform: uppercase
			td:nth-child(1)
				font-size: 1em
		tr:last-child
			text-align: center
			td
				padding: 0
	.showplace
		.place
			width: 100%
			position: relative
			overflow: hidden
			img
				width: 100%
			.place-link
				text-align: center
				text-transform: uppercase
				padding: 5px
				font-size: 0.80em
				font-weight: 600
				letter-spacing: 0.5px
				a
					text-decoration: none
					color: $footer-bgcolor
			.photo
				position: relative
				.place-desctiption
					position: absolute
					top: 0
					left: -100%
					background-color: rgba(#fff,.8)
					height: 100%
					width: 100%
					padding: 10px 5px
					transition: 0.3s all
			&:hover
				.place-desctiption
					left: 0
	.button
		width: 100%
		display: block
		padding: 8px
		text-align: center
		margin-bottom: 30px
		position: relative
		background-color: $footer-bgcolor
		color: #fff
		text-decoration: none
		transition: 0.3s all
		border-radius: 3px
		&:first-child
			margin-top: 20px
			padding-left: 25px
			&::before
				content: ''
				display: block
				position: absolute
				top: 50%
				left: 10px
				width: 25px
				height: 100%
				background-image: url(../img/profile/heart.png)
				background-size: contain
				background-position: center
				background-repeat: no-repeat
				transform: translate(0, -50%)
		&:hover
			background-color: #eeeeee
			color: #000
		&:last-child:hover
			background-color: green
			color: #fff
//Оферта
#offer
	padding-top: 80px
	padding-bottom: 30px
	h1
		font-weight: 200
		text-align: center
		margin-top: 20px
		text-transform: uppercase
	p
		font-size: 0.8em
		margin: 0
		padding: 0
	h2
		text-transform: uppercase
		font-weight: 200
		font-size: 1em
		padding-left: 25px

//Партнерка
#partnpr
	padding-top: 80px
	.partnpr-text
		margin: 20px 0
		background-color: #fff
		padding: 15px
		border: 1px solid $footer-bgcolor
		border-radius: 5px
		h1
			text-align: center
			text-transform: uppercase
		h3
			font-size: 1.1em
			margin: 0
			padding: 0
			margin: 10px 0
			a
				text-decoration: none
				color: #000
		.button
			float: none
			display: block
			padding: 10px 30px
			background-color: $footer-bgcolor
			margin: 8px 0
			text-align: center
			text-transform: uppercase
			color: #ffffff
			text-decoration: none
			transition: 0.5s all
			box-shadow: 1px 1px 1px 1px black
			border-radius: 3px
			&:hover
				background-color: darken($footer-bgcolor, 20)
				box-shadow: 0px 0px 1px 1px black inset
		p
			font-size: 0.8em
			margin: 0
			padding: 0
			span
				font-weight: 600
	.user-info
		position: relative
		width: 100%
		height: auto
		background-color: #fff
		margin: 20px 0
		padding: 15px
		border: 1px solid $footer-bgcolor
		border-radius: 5px
		.user-img
			width: 100px
			height: 100px
			overflow: hidden
			margin-bottom: 10px
			margin-left: 15px
			margin-top: 15px	
			img
				width: 100%
				height: auto
		p
			margin-left: 15px
		span
			position: absolute
			width: 30px
			height: 30px
			top: 15px
			right: 15px
			background-image: url(../img/more.jpg)
			background-size: 25px
			background-position: center
			background-repeat: no-repeat
			cursor: pointer
		ul
			list-style-type: none
			position: absolute
			top: 35px
			right: 35px
			margin: 0
			padding: 0
			height: 0
			overflow: hidden
			li
				padding: 0
				margin: 0
			li 
				border: 1px solid black
				background-color: #fff
				a
					display: block
					padding: 5px 15px
					color: #000
					font-size: 0.9em
		span:hover ~ ul, ul:hover
			height: auto
			overflow: auto		
	.edt-profile, .promocode
		position: relative
		width: 100%
		height: auto
		background-color: #fff
		margin: 20px 0
		border: 1px solid $footer-bgcolor
		border-radius: 5px
		text-align: center
	.edt-profile
		a
			display: block
			width: 100%
			height: 100%
			padding: 10px 0
			text-decoration: none
			color: #000000
	.promocode
		padding: 10px 0
		font-weight: 600
	.pprogram, .download
		padding-left: 35px
		position: relative
		&::before
			content: ''
			display: block
			position: absolute
			top: 50%
			left: 5px
			width: 15px
			height: 100%
			background-size: contain
			background-position: center
			background-repeat: no-repeat
			transform: translate(0, -50%)
	.pprogram::before
		background-image: url(../img/profile/partner.png)
	.download::before
		background-image: url(../img/profile/download.png)

//Личный кабинет
#experiences
	padding-top: 80px
	padding-bottom: 3px
	.button
		margin-top: 30px
		margin-bottom: 30px
		background-color: #fff
		border-radius: 10em
		width: auto
		text-align: center
		position: relative
		a
			display: block
			padding: 3px
			text-decoration: none
			color: $footer-bgcolor
			transition: all 0.5s
			&:hover
				border-radius: 10em
				box-shadow: 1px 1px 2px 1px $footer-bgcolor inset
				color: #000
		.active
			border-radius: 10em
			box-shadow: 1px 1px 2px 1px $footer-bgcolor inset
			color: #000
		.active::before
			position: absolute
			content: ''
			display: block
			bottom: -10px
			left: 50%
			width: 10px
			height: 10px
			border-right: 10px solid transparent 
			border-left: 10px solid transparent 
			border-top: 10px solid #fff
			transform: translate(-50%, 0)
	ul
		margin: 0
		padding: 0
	ul li
		display: inline-block
		margin-right: 8px
		background-color: #fff
		border-top-right-radius: 5px
		border-top-left-radius: 5px
		font-weight: 600
		a
			display: block
			padding: 8px 32px
			text-decoration: none
			color: #000
			border-top-right-radius: 5px
			border-top-left-radius: 5px
			transition: all 0.5s
			&:hover
				background-color: $footer-bgcolor
				color: #fff
	ul .active
		background-color: $footer-bgcolor
		a
			color: #fff
	.content
		background-color: $footer-bgcolor
		color: #000
		padding: 25px
		margin-bottom: 30px
		text-align: center
		min-height: 350px
		.content-text
			margin-bottom: 30px
			.photo
				width: 100%
				height: auto
				overflow: hidden
				margin-top: 20px
				margin-left: 15px
				position: relative	
				img
					width: 100%
				.raiting
					position: absolute
					bottom: 10px
					left: 10px
					height: 30px
					background-color: #fff
					background-image: url(../img/star.png)
					background-size: contain
					background-repeat: repeatX
					&::before
						content: ''
						display: block
						position: absolute
						top: 0
						left: -10px
						width: 10px
						height: 100%
						background-color: #fff
					&::after
						content: ''
						display: block
						position: absolute
						top: 0
						right: -10px
						width: 10px
						height: 100%
						background-color: #fff
				.one 
					width: 30px
				.two
					width: 60px
				.three
					width: 90px
				.four
					width: 120px
				.five
					width: 150px
				.time
					position: absolute
					background-color: #fff
					bottom: 10px
					right: 10px
					p
						padding: 0
						margin: 0
						padding: 2px 8px 2px 30px
						font-weight: 600
						letter-spacing: 0.5px
					&::before
						content: ''
						display: block
						position: absolute
						top: 50%
						left: 2px
						width: 25px
						height: 100%
						background-size: contain
						background-position: center
						background-repeat: no-repeat
						transform: translate(0, -50%)
						background-image: url(../img/clock.png)
					&::after
						content: ''
						display: block
						position: absolute
						top: 0
						right: -10px
						width: 10px
						height: 100%
						background-color: #fff
				.name
					position: absolute
					color: $main-color
					top: 0px
					padding: 12px 0
					width: 100%
					text-transform: uppercase
					font-weight: 600
					background-color: rgba($footer-bgcolor, .75)
					p
						padding: 0
						margin: 0
			.edit-link
				a
					color: $main-color
					text-transform: uppercase
					text-decoration: underline
					width: 100%
					display: block
					padding: 5px
					letter-spacing: 0.8px
				
		.button
			text-align: center
			padding: 15px 40px
			border-radius: 3px
			text-transform: uppercase
			color: #000000
			text-decoration: none
			transition: all 0.5s
			&:hover
				background-color: darken($footer-bgcolor, 30)
				color: #fff

//Личный кабинет
#experiences-2
	padding-top: 80px
	padding-bottom: 3px
	.content
		background-color: rgba($footer-bgcolor, .5)
		color: #000
		padding: 25px
		margin-bottom: 30px
		text-align: center
		min-height: 350px
		.content-text
			margin-bottom: 30px
			.photo
				overflow: hidden
				margin-top: 20px
				margin-left: 15px
				position: relative
				background-size: cover
				background-position: center
				.raiting
					position: absolute
					bottom: 10px
					left: 10px
					height: 30px
					background-color: #fff
					background-image: url(../img/star.png)
					background-size: contain
					background-repeat: repeatX
					&::before
						content: ''
						display: block
						position: absolute
						top: 0
						left: -10px
						width: 10px
						height: 100%
						background-color: #fff
					&::after
						content: ''
						display: block
						position: absolute
						top: 0
						right: -10px
						width: 10px
						height: 100%
						background-color: #fff
				.one 
					width: 30px
				.two
					width: 60px
				.three
					width: 90px
				.four
					width: 120px
				.five
					width: 150px
				.time
					position: absolute
					background-color: #fff
					bottom: 10px
					right: 10px
					p
						padding: 0
						margin: 0
						padding: 2px 8px 2px 30px
						font-weight: 600
						letter-spacing: 0.5px
					&::before
						content: ''
						display: block
						position: absolute
						top: 50%
						left: 2px
						width: 25px
						height: 100%
						background-size: contain
						background-position: center
						background-repeat: no-repeat
						transform: translate(0, -50%)
						background-image: url(../img/clock.png)
					&::after
						content: ''
						display: block
						position: absolute
						top: 0
						right: -10px
						width: 10px
						height: 100%
						background-color: #fff
				.name
					position: absolute
					color: $main-color
					top: 0px
					padding: 12px 0
					width: 100%
					text-transform: uppercase
					font-weight: 600
					background-color: rgba($footer-bgcolor, .75)
					p
						padding: 0
						margin: 0
			.edit-link
				a
					color: $main-color
					text-transform: uppercase
					text-decoration: underline
					width: 100%
					display: block
					padding: 5px
					letter-spacing: 0.8px
				
		.button
			text-align: center
			padding: 15px 40px
			border-radius: 3px
			text-transform: uppercase
			color: #000000
			text-decoration: none
			transition: all 0.5s
			&:hover
				background-color: darken($footer-bgcolor, 30)
				color: #fff

//Событие
#sobytie-main
	padding-top: 80px
	padding-bottom: 3px
	.breadcrumb
		margin-left: 10px
		ul
			list-style-type: none
			margin: 0
			padding: 0
			li
				display: inline
				margin: 0
				padding: 0
				margin-right: 25px
				position: relative
				float: left
				&::after
					content: '>'
					display: block
					position: absolute
					top: -3px
					right: -16px
					color: $hover-color
					font-size: 1.2em
				&:last-child::after
					display: none
				a
					text-decoration: none
					color: #000
					font-size: 0.8em
					font-weight: 600
					transition: all 0.3s
					&:hover
						color: $hover-color
	h1
		font-size: 2.3em
		letter-spacing: 1.5px
	.raiting
		position: relative
		.one, .two, .three, .four, .five
			margin-left: 8px
			&::after
				content: ''
				position: absolute
				width: 15px
				background-image: url("../img/star.png")
				background-repeat: repeat-x
				background-size: 15px
				left: 0
				top: 5px
				bottom: 0
			span:first-child
				margin-left: 23px
				text-align: center
				position: relative
				width: 25px
				float: left
				height: 25px
				background-color: $footer-bgcolor
				border-radius: 10em
				color: #fff
				font-size: 0.8em
				padding-top: 2px
			a
				font-weight: 600
				color: #000
				text-decoration: underline
				transition: all 0.3s
				&:hover
					color: $hover-color
		.two
			span:first-child
				margin-left: 38px
			&::after
				width: 30px
		.three
			span:first-child
				margin-left: 53px
			&::after
				width: 45px
		.four
			span:first-child
				margin-left: 68px
			&::after
				width: 60px
		.five
			span:first-child
				margin-left: 83px
			&::after
				width: 75px
	.favorite
		a
			position: relative
			margin-bottom: 25px
			display: block
			text-align: center
			text-decoration: none
			color: #000
			transition: all 0.3s
			font-size: 0.85em
			font-weight: 600
			&::before
				content: ''
				display: block
				position: absolute
				top: 50%
				right: 10px
				width: 18px
				height: 18px
				background-image: url(../img/profile/heart.png)
				-webkit-background-size: contain
				background-size: contain
				background-position: center
				background-repeat: no-repeat
				transform: translate(0,-50%)
			&:hover
				color: $hover-color
	.slider
		img
			width: 100%
	.price
		background-color: #fff
		margin-top: 8px
		border-radius: 3px
		padding: 24px 20px
		margin-bottom: 8px
		.cost, 
			text-align: center
			h2
				padding: 0
				margin: 0
			p
				padding: 0
				margin: 0
				font-size: 0.75em
				margin-top: -8px
		.time, .people
			position: relative
			p
				padding-top: 12px
				position: relative
				font-weight: 600
				&::before
					content: ''
					display: block
					position: absolute
					top: 12px
					left: 0
					width: 25px
					height: 25px
					background-size: contain
					background-position: center
					background-repeat: no-repeat
					transform: translate(-100%, 0)
					background-image: url(../img/clock.png)
		.people
			p
				&::before
					background-image: url(../img/people.png)
					background-size: 20px
		.active 
			background-color: $hover-color
		.button
			width: 100%
			display: block
			border: 1px solid $footer-bgcolor
			text-align: center
			border-radius: 3px
			transition: all 0.3s
			padding: 8px 15px
			&:hover
				background-color: $hover-color
				color: #fff
				cursor: pointer
			a
				display: block
				color: #000000
				text-decoration: none
				&:hover
					color: #fff
			.phone, .watsapp
				display: block
				width: 25px
				height: 25px
				float: right
				margin-right: 3px
				background-image: url(../img/phone.png)
				background-size: 25px
				background-position: center
				background-repeat: no-repeat
			.watsapp
				background-image: url(../img/watsapp.png)
			.time
				width: 100%
				height: 100%
		.hint
			margin-top: 15px
			font-size: 0.75em
			font-weight: 600
			margin-left: 25px
			position: relative
			&::before
				content: ''
				display: block
				position: absolute
				top: 0
				left: -20px
				width: 18px
				height: 18px
				background-size: contain
				background-position: center
				background-repeat: no-repeat
				background-image: url(../img/accept.png)
	.about-org
		background-color: #fff
		padding: 8px
		border-radius: 3px
		.photo
			width: 120px
			height: 120px
			overflow: hidden
			border-radius: 10em
			img
				width: 100%
		.raiting
			margin-left: 50%
			transform: translate(-50%,0)
			margin-top: 12px
		h3
			font-weight: 200
			text-align: center
			font-size: 1em
		.descrition
			h4, p
				padding: 0
				margin: 0
			h4
				margin: 0 0 8px 0
				margin-top: -7px
				color: $hover-color
			p
				font-size: 0.85em
			p:nth-child(3)
				font-size: 0.75em
				color: $footer-bgcolor
			.button
				display: block
				font-size: 0.85em
				bottom: 0
				padding: 3px
				margin-top: 10px
				background-color: $hover-color
				color: #000
				letter-spacing: .25px
				text-decoration: none
				border-radius: 3px
				transition: all 0.3s
				&:hover
					background-color: darken($hover-color, 10)
					color: #fff
			.comment
				position: relative
				display: block
				padding: 3px
				margin-top: 5px
				text-align: right
				text-decoration: none
				color: #000
				font-weight: 600
				transition: all 0.3s
				&::before
					content: ''
					display: block
					position: absolute
					top: 50%
					left: 0
					width: 18px
					height: 18px
					background-size: contain
					background-position: center
					background-repeat: no-repeat
					background-image: url(../img/comment.png)
					transform: translate(0, -50%)
				&:hover
					color: $hover-color
		.org-info
			display: block
			margin: 10px 0 
			padding: 8px 12px
			text-align: center
			color: #000
			letter-spacing: .25px
			text-decoration: none
			border-radius: 3px
			transition: all 0.3s
			border: 2px solid $hover-color
			&:hover
				background-color: darken($hover-color, 10)
				color: #fff
	.individual-price
		background-color: #fff
		margin: 8px 0
		padding: 8px
		border-radius: 3px
		h3,h4,p, hr
			padding: 0
			margin: 0
		h3
			text-align: center
			font-size: 1em
			font-weight: 200
			margin: 8px 0
		h4
			font-size: 0.8em
			padding-left: 15px
		p
			font-size: 0.7em
			margin-bottom: 8px
		hr
			margin: 3px 0
		.cost
			font-size: 1.3em
			margin: 0 !important
			font-weight: 400
			span
				font-weight: 600
		.cost + p
			padding-left: 15px
			font-size: 0.8em
			span
				font-weight: 600
		.button
			display: block
			padding: 6px 12px
			text-align: center
			color: #000
			text-decoration: none
			border-radius: 3px
			transition: all 0.3s
			background-color: $hover-color
			&:hover
				background-color: darken($hover-color, 10)
				color: #fff
		.question
			font-size: 0.8em
			padding: 0 15px
			a	
				color: $hover-color
	.owl-carousel
		position: relative
		.owl-dots
			position: absolute
			bottom: 0
			left: 50%
			.active span
				background-color: $hover-color
			span
				background-color: #fff
#userslist
	padding-top: 100px
	min-height: 100vh
	.table
		margin: 30px auto
		color: $text
		thead tr td
			padding: 0 15px
		thead tr td
			text-align: center
			font-weight: 600
		tbody tr
			border-bottom: 1px solid $footer-bgcolor
		tbody tr:first-child
			border-top: 1px solid $footer-bgcolor
		tbody tr:hover
			cursor: pointer
		tbody tr td
			padding: 0 25px
			min-height: 55px
		tbody tr td a
			text-align: center
			display: block
			color: #fff
			background-color: $green
			border-radius: 8px
			padding: 5px 10px
			margin: 5px 0
			text-decoration: none
			transition: all 0.3s
			&:hover
				background-color: $red

	



@import "media" // Always at the end
